.main-equipment{
	margin-bottom: 40px;
	padding: 20px;
	&__header{
		margin-bottom: 25px;
	}
	&__title{
		font-weight: bold;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		color: #4A4A4A;
		position: relative;
		overflow: hidden;
		margin: 0;
		&:before{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			right: 10px;
			margin-left: -100%;
			border-bottom: 1px solid #4F4F4F;
		}
		&:after{
			content: '';
			display: inline-block;
			position: relative;
			width: 100%;
			height: 1px;
			left: 10px;
			margin-right: -98%;
			border-bottom: 1px solid #4F4F4F;
		}
	}
	&__category{
		display: flex;
		justify-content: space-between;
		padding: 0 40px;
		margin-bottom: 24px;
		h3{
			display: inline-block;
			font-weight: bold;
			font-size: 21px;
			line-height: 30px;
			color: #4A4A4A;
			margin: 0 0 18px;
			border-bottom: 1px dashed #4A4A4A;

		}
		P{
			font-size: 14px;
			line-height: 18px;
			color: #4A4A4A;
			margin: 0;
		}
		.access{
			position: relative;
			&:before{
				content: '';
				position: relative;
				display: inline-block;
				background-color: #25AE6A;
				width: 12px;
				height: 12px;
				margin: 0 5px;
			}
		}
		.primary{
			position: relative;
			&:before{
				content: '';
				position: relative;
				display: inline-block;
				background-color: #2D9CDB;
				width: 12px;
				height: 12px;
				margin: 0 5px;
			}
		}
		.warning{
			position: relative;
			&:before{
				content: '';
				position: relative;
				display: inline-block;
				background-color: #DB2D57;
				width: 12px;
				height: 12px;
				margin: 0 5px;
			}
		}
	}
	&__select{
		background-image: url("img/main-equipment-bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		width: 100%;
		max-width: 224px;
		height: 101px;
		padding: 15px 10px 15px 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		border: 1px solid #ffffff;
		&.dop{
			height: 51px;
			margin-top: -1px;
			background-image: url("img/plus-white.svg");
			background-size: 11px;
			background-position: 4px 4px;
			background-repeat: no-repeat;
		}
	}
	&__group{
		display: flex;
		flex-wrap: wrap;
		margin-right: 21px;
		width: 680px;
		height: 100px;
	}
	&__anons{
		font-weight: bold;
		font-size: 15px;
		line-height: 18px;
		color: #FFFFFF;
		padding: 0;
		margin: 0;

	}
	&__name{
		font-weight: bold;
		font-size: 15px;
		line-height: 15px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 5px 0 0;
	}
	&__logo{
		width: 195px;
		h5{
			font-weight: bold;
			font-size: 36px;
			line-height: 30px;
			color: #25AE6A;
			margin: 0 0 5px;
		}
		p{
			font-weight: 500;
			font-size: 11px;
			line-height: 14px;
			color: #C4C4C4;
			padding: 0;
		}
	}
}